@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --currency: '€';
}

.amount::before {
  content: var(--currency);
  position: absolute;
  left: 0;
  padding-left: .25rem;
}
